/* Imports & supports */
@import url("https://rsms.me/inter/inter-ui.css");
/* Reset & Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
body {
  line-height: 1.5;
  min-height: 100vh;
}
ul {
  margin: 0;
  padding-inline: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
picture {
  max-width: 100%;
  display: block;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* 2. Vamos a crear 3 animaciones distintas, 1 para animar el background del banner, otra para animar el título y la tercera para animar el parrafo */
/* Banner */
.banner {
  height: 60vh;
  background-color: rgb(184, 179, 233);
  background-image: url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  font-family: "Inter var",sans-serif;
  transition: all 500ms ease-in;
}
.banner:hover {
  opacity: 0.7;
  color: rgb(163, 255, 121);
}
/* Banner titulo */
.banner h1 {
  font-size: 50px;
}
/* Banner parrafo */
.banner p {
  font-size: 15px;
}
